:root{
  font-size: 16px;
  font-family: sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width:5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav{
    display: flex;
    flex-direction:column;
    padding: 0;
    margin: 0;
    list-style:none;
    align-items: center;
    height: 100%;
}
/* .nav-item{
    width: 100%;
} */
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    height:5rem;
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: inline;
}
.fa-primary{
    color: #ff7eee;
}
.fa-secondary{
    color: #df49a6;
}
.fa-primary , .fa-secondary{
    transition: var(--transition-speed) ;
}









body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background:#1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:#6649b8;
}
body::-o-scrollbar{
    width: 0.25rem;
}
body::-o-scrollbar-track{
    background:#1e1e24;
}
body::-o-scrollbar-thumb{
    background:#6649b8;
}
body::-moz-scrollbar{
    width: 0.25rem;
}
body::-moz-scrollbar-track{
    background:#1e1e24;
}
body::-moz-scrollbar-thumb{
    background:#6649b8;
}