:root{
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    font-size: 16px;
}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width:5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-primary);
}














body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background:#1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:#6649b8;
}
body::-o-scrollbar{
    width: 0.25rem;
}
body::-o-scrollbar-track{
    background:#1e1e24;
}
body::-o-scrollbar-thumb{
    background:#6649b8;
}
body::-moz-scrollbar{
    width: 0.25rem;
}
body::-moz-scrollbar-track{
    background:#1e1e24;
}
body::-moz-scrollbar-thumb{
    background:#6649b8;
}